.result {
  padding-bottom: 15px;
  display:flex;
  gap:10px;
  align-items:center;
}

.thumb {
  border-radius: 50px;
  margin-right: 20px;
}

.channelTitle {
  align-self: center;
}

#navbarTogglerDemo01 {
  display:flex;
  justify-content: space-between;
  margin-inline: 15px;
}

#search-results {
  list-style-type: none;
}

#search-pages {
  display:flex;
  gap:5px;
}

.pageLink-active {
  color:purple;
}

.pageLink {
  color:blue;
}

.row {
  display: flex;
  padding-inline: 10px;
}

main {
  width:60%
}

.lyrics-div {
  width:35%;
}

.col {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
}