.result {
  padding-bottom: 15px;
  display:flex;
  gap:10px;
  align-items:center;
}

.thumb {
  border-radius: 50px;
  margin-right: 20px;
}

.channelTitle {
  align-self: center;
}

#navbarTogglerDemo01 {
  display:flex;
  justify-content: space-between;
  margin-inline: 15px;
}

#search-results {
  list-style-type: none;
}

#search-pages {
  display:flex;
  gap:5px;
}